.quizContainer{
    border: 2px solid white;
    /* display: flex; */
    
}

.quizTitle{
    height: 10vh;
    width: 100%;
    position: sticky;
    top: 0px;
    border: 2px solid red;
    text-align: center;
}